*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  background-color: rgb(16, 0, 43);
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
a{ 
 text-decoration: none; 
}
h1{
  color:rgb(243, 243, 243) ;
  font-family: 'Montserrat',sans-serif;
  font-size: 5.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
h2{
  color:rgb(243, 243, 243) ;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400rem;
}
h3{
  color:rgb(243, 243, 243) ;
  font-size: 2.2rem;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
h4{
  color:rgb(243, 243, 243) ;
  font-size: 1.5rem;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
#grid-container{
  display:grid;
  width: 100%;
  grid-gap: 2rem;
}
