//novedades
.impala-nov{
  height: 140rem;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../multimedia/background/bg8.jpg);
  background-size: cover;
  max-width: $w-100;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: 40vh 60vh 100vh;
  grid-template-areas: 
  "icong icong icong"
  "susg susg susg"
  "leakg leakg leakg"
  ;
    /*--- Logos Music ---*/

  .logo-music{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7rem;
    padding-left: 15%;
    padding-right: 15%;
    a img{
    width: 11.5rem;
    height: 11.5rem;
    }
  }

  /*--- Suscripcion ---*/

  .suscription{
    text-align: center;
    line-height: 2rem;
    font-weight: 400rem;
    font-size: 1.4rem;
    font-family: $secondaryFont;
    padding-left: 15%;
    padding-right: 15%;
    color: $mainColor;
    h3{
    padding-bottom: 5%;
    }
    form {
      label {
      justify-content: center;
      align-content: center;
      padding-bottom: 8%;
      padding-right: 15%;
      padding-left: 15%;
      }
      .input-submit{
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 8%;
        padding-right: 15%;
        padding-left: 15%;
        .text-sub{
          background-color: rgb(0, 1, 2);
        }
        .input-sub{
          background-color: rgb(0, 1, 2);
        }
      }
    }
  }
   /*--- New Leaks ---*/
  .leakg{
    .new-leak-text{
    justify-content: center;
    align-content: center;
    padding-right: 15%;
    padding-left: 15%;
    }
    .video-leak{
      justify-content: center;
      align-content: center;
      overflow: hidden; 
    }
  }
}

  
 

/*--Grid Areas--*/
.icong{
  grid-area: icong;
}

.susg{
  grid-area: susg;
}

.leakg{
  grid-area: leakg;
}

/*--*/

/*______________________- Seccion Tour -______________________*/
.impala-tour{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../multimedia/background/bg3.jpg);
  background-size: cover;
  height: 80rem;
  .tourg{
    text-align: justify;
    line-height: 2.2rem;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat',sans-serif;
    padding-top: 20%;
    color: rgb(243, 243, 243);
    #entradas{
      color:rgb(243, 243, 243) ;
      font-size: 1.5rem;
      font-family: 'Montserrat',sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      &:hover{
        color:rgb(224, 210, 255);
      }
    }
    #button-tour{
      padding-top: 10rem;
      padding-left: 0.1rem;
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
}

/*______________________- Seccion Merch -______________________*/


.impala-merch{
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../multimedia/background/bg5.jpg);
  background-size: cover;
  display: grid;
  grid-gap: 3rem;
  color:rgb(243, 243, 243) ;
  font-size: 1.5rem;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  grid-template-columns: repeat(6, 1fr) ;
  grid-template-rows: 20vh 20vh 20vh 10vh 1vh;
  grid-template-areas:
  ". . h3-merch h3-merch. ."
  "merch-1 merch-1 merch-3 merch-4 merch-2 merch-2 "
  "merch-1 merch-1 merch-5 merch-6 merch-2 merch-2 "
  ". . . . . ."
  ". . button-merch button-merch . .";

  .h3-merch{
  grid-area: h3-merch;
  padding-top: 10rem;
  justify-content: center;
  text-align: center;
  }
  .merch-1{
    grid-area: merch-1;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    .container-text-merch{
      position: relative;
      .image-merch { 
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        &:hover{
          opacity: 0.3;
        }
        .middle-merch {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          &:hover{
          opacity: 1;
          }
          .text-merch { 
            white-space: pre-wrap;
            color: white;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color:rgb(243, 243, 243) ;
            font-size: 1.2rem;
            font-family: 'Montserrat',sans-serif;
            text-transform: uppercase;
            font-weight: 400rem;
          }
        }
      }
    }
  }
  .merch-2{
    grid-area: merch-2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    .container-text-merch{
      position: relative;
      .image-merch { 
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        &:hover{
          opacity: 0.3;
        }
        .middle-merch {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          &:hover{
          opacity: 1;
          }
          .text-merch { 
            white-space: pre-wrap;
            color: white;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color:rgb(243, 243, 243) ;
            font-size: 1.2rem;
            font-family: 'Montserrat',sans-serif;
            text-transform: uppercase;
            font-weight: 400rem;
          }
        }
      }
    }
  }

  .merch-3{
    grid-area: merch-3;
    width: 100%;
    padding-bottom: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    .container-text-merch{
      position: relative;
      .image-merch { 
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        &:hover{
          opacity: 0.3;
        }
        .middle-merch {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          &:hover{
          opacity: 1;
          }
          .text-merch { 
            white-space: pre-wrap;
            color: white;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color:rgb(243, 243, 243) ;
            font-size: 1.2rem;
            font-family: 'Montserrat',sans-serif;
            text-transform: uppercase;
            font-weight: 400rem;
          }
        }
      }
    }
  }

  .merch-4{
    grid-area: merch-4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    .container-text-merch{
      position: relative;
      .image-merch { 
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        &:hover{
          opacity: 0.3;
        }
        .middle-merch {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          &:hover{
          opacity: 1;
          }
          .text-merch { 
            white-space: pre-wrap;
            color: white;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color:rgb(243, 243, 243) ;
            font-size: 1.2rem;
            font-family: 'Montserrat',sans-serif;
            text-transform: uppercase;
            font-weight: 400rem;
          }
        }
      }
    }
  }

  .merch-5{
    grid-area: merch-5;
    .container-text-merch{
      position: relative;
      .image-merch { 
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        &:hover{
          opacity: 0.3;
        }
        .middle-merch {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          &:hover{
          opacity: 1;
          }
          .text-merch { 
            white-space: pre-wrap;
            color: white;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color:rgb(243, 243, 243) ;
            font-size: 1.2rem;
            font-family: 'Montserrat',sans-serif;
            text-transform: uppercase;
            font-weight: 400rem;
          }
        }
      }
    }
  }

  .merch-6{
    grid-area: merch-6;
    padding-top: 50em;
    .container-text-merch{
      position: relative;
      .image-merch { 
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        &:hover{
          opacity: 0.3;
        }
        .middle-merch {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          &:hover{
          opacity: 1;
          }
          .text-merch { 
            white-space: pre-wrap;
            color: white;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color:rgb(243, 243, 243) ;
            font-size: 1.2rem;
            font-family: 'Montserrat',sans-serif;
            text-transform: uppercase;
            font-weight: 400rem;
          }
        }
      }
    }
  }

  .button-merch{
    grid-area: button-merch;
    padding-left: 31%;
    justify-content: center;
    align-content: center;
    .button-merch a {
      padding-bottom: 10rem;
      background: none;
      border: 2px solid rgb(224, 210, 255);
      border-radius: 3rem;
      color: white;
      padding: 1rem 2.5rem;
      font-size: 1.8rem;
      font-family: 'Montserrat' ,sans-serif;
      box-shadow: 0px 0px 10px 0px rgb(224, 210, 255);
      cursor: pointer;
      font-weight: 30rem;
      line-height: 2.2rem;
      &:hover{
        box-shadow: none;
        background-color: black;
        color: #fff;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
      }
    }
  }  
}
