header{
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px 0;
}


/*______________________- Seccion Intro -______________________*/

.impala-intro{
  height: 50rem;
  width: 100vw;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../multimedia/background/bg1.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns:repeat(6, 1fr);
  grid-template-rows:repeat(6, 15vh) ;
  grid-template-areas: 
  ".  .    .       introg introg introg"
  "cg  cg    cg    introg introg introg"
  "cg  cg    cg    introg introg introg"
  "cg  cg    cg    introg introg introg"
  "cg  cg    cg    introg introg introg"
  ".  .    .       introg introg introg"

  ;

  .cg{
    grid-area: cg;
  }
 /*-----Texto Principal-----*/
  .introg{
    grid-area: introg;
    color: $mainColor;
    @include orgSection (10rem,3rem,0,3rem,$mainFont,1.5rem,$textLight,2rem,justify,0,0,none);

  }
/*----Carousel----*/
  .carousel{ 
    overflow:hidden ;
    img{
      width: 100%;
      min-height: 34rem;
      max-height: 34rem;
      object-fit: cover;
    }
  }
}

//novedades
/*______________________- Seccion Novedades -______________________*/
.impala-nov{
  height: 140rem;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../multimedia/background/bg8.jpg);
  background-size: cover;
  max-width: $w-100;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: 40vh 60vh 100vh;
  grid-template-areas: 
  "icong icong icong"
  "susg susg susg"
  "leakg leakg leakg"
  ;

  /*--Grid Areas--*/
.icong{
  grid-area: icong;
}

.susg{
  grid-area: susg;
}

.leakg{
  grid-area: leakg;
}

/*--*/
    /*--- Logos Music ---*/

  .logo-music{
    @include ajustCenter(7rem,0,space-evenly);
    a img{
    width: 11.5rem;
    height: 11.5rem;
    }
  }

  /*--- Suscripcion ---*/

  .suscription{
    color: $mainColor;
    @include orgSection (0,15%,0,15%,$secondaryFont,1.4rem,$textRegular,2rem,center,0,0,0);
    h3{
    padding-bottom: 5%;
    }
    form {
      label {
        @include ajustCenter(0,8%,center);
      }
      .input-submit{
        @include ajustCenter(8%,0,center);
        .text-sub{
          background-color: rgb(0, 1, 2);
        }
        .input-sub{
          background-color: rgb(0, 1, 2);
        }
      }
    }
  }
   /*--- New Leaks ---*/
  .leakg{
    .new-leak-text{
    @include ajustCenter(0,0,center);
    }
    .video-leak{
      justify-content: center;
      align-content: center;
      overflow: hidden; 
    }
  }
}

/*______________________- Seccion Tour -______________________*/

.impala-tour{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../multimedia/background/bg3.jpg);
  background-size: cover;
  height: 80rem;
  .tourg{
    @include orgSection (20%,0,0,0,$mainFont,2rem,$textBold,2.2rem,justify,0,0, none);
  }
}

#entradas{
  color:$mainColor ;
  font-size: 1.5rem;
  font-family: $mainFont;
  text-transform: uppercase;
  font-weight: bold;
  &:hover{
    color:$secondaryColor;
  }
}
#button-tour{
  display: flex;
  @include button(0.1rem,10rem);
}

/*______________________- Seccion Merch -______________________*/


.impala-merch{
  height: 90vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../multimedia/background/bg5.jpg);
  background-size: cover;
  display: grid;
  
  color:$mainColor ;
  font-size: 1.5rem;
  font-family: $mainFont;
  text-transform: uppercase;
  font-weight: bold;

  grid-template-columns: repeat(6, 1fr) ;
  grid-template-rows: 20vh 20vh 20vh 10vh 1vh;
  grid-template-areas:
  "h3-merch h3-merch h3-merch h3-merch h3-merch h3-merch"
  "merch-1 merch-1 merch-3 merch-4 merch-2 merch-2 "
  "merch-1 merch-1 merch-5 merch-6 merch-2 merch-2 "
  ". . . . . ."
  ". . button-merch button-merch . .";

  .h3-merch{
  grid-area: h3-merch;
  padding-top: 4rem;
  justify-content: center;
  text-align: center;
  background: rgb(0,0,0);
  width: 100%;
  }
  .merch-1{
    background-color: #9950B8;
    @include merchArea(merch-1,flex, center,center,center,center,100%);
    .container-text-merch{
      position: relative;
      .image-merch { 
        @include imageMerch(1,block,.5s ease,hidden,.3);
      }
      .middle-merch {
        @include middleMerch(.5s ease,0,absolute,50%,50%,translate(-50%, -50%),translate(-50%, -50%),center,1);
          .text-merch { 
            @include textMerch(pre-wrap,$mainColor,absolute,hidden,50%,50%,translate(-50%, -50%),translate(-50%, -50%),1.2rem,$mainFont,uppercase,400rem);
          }  
      }
    }   
  }
  .merch-2{
    background-color: #8B36A7;
    @include merchArea(merch-2,flex, center,center,center,center,100%);
    .container-text-merch{
      position: relative;
      .image-merch { 
        @include imageMerch(1,block,.5s ease,hidden,.3);
      }
      .middle-merch {
        @include middleMerch(.5s ease,0,absolute,50%,50%,translate(-50%, -50%),translate(-50%, -50%),center,1);
      }
      .text-merch { 
        @include textMerch(pre-wrap,$mainColor,absolute,hidden,50%,50%,translate(-50%, -50%),translate(-50%, -50%),1.2rem,$mainFont,uppercase,400rem);
      }
    }
  }
  .merch-3{
    background-color: #ED51C6;
    padding-bottom: 30%;
    @include merchArea(merch-3,flex, center,center,center,center,100%);
    .container-text-merch{
      position: relative;
      .image-merch { 
        @include imageMerch(1,block,.5s ease,hidden,.3);
      }
      .middle-merch {
        @include middleMerch(.5s ease,0,absolute,50%,50%,translate(-50%, -50%),translate(-50%, -50%),center,1)
      }
      .text-merch { 
        @include textMerch(pre-wrap,$mainColor,absolute,hidden,50%,50%,translate(-50%, -50%),translate(-50%, -50%),1.2rem,$mainFont,uppercase,400rem);
      }
    }
  }
  .merch-4{
    background-color: #DF41E9;
    @include merchArea(merch-4,flex, center,center,center,center,100%);
    .container-text-merch{
      position: relative;
      .image-merch { 
        @include imageMerch(1,block,.5s ease,hidden,.3);
      }
      .middle-merch {
        @include middleMerch(.5s ease,0,absolute,50%,50%,translate(-50%, -50%),translate(-50%, -50%),center,1)
      }
      .text-merch { 
        @include textMerch(pre-wrap,$mainColor,absolute,hidden,50%,50%,translate(-50%, -50%),translate(-50%, -50%),1.2rem,$mainFont,uppercase,400rem);
      }
    }
  }
  .merch-5{
    background-color: #FF1493;
    grid-area: merch-5;
    .container-text-merch{
      position: relative;
      .image-merch { 
        @include imageMerch(1,block,.5s ease,hidden,.3);
      }
      .middle-merch {
        @include middleMerch(.5s ease,0,absolute,50%,50%,translate(-50%, -50%),translate(-50%, -50%),center,1)
      }
      .text-merch { 
        @include textMerch(pre-wrap,$mainColor,absolute,hidden,50%,50%,translate(-50%, -50%),translate(-50%, -50%),1.2rem,$mainFont,uppercase,400rem);
      }
    }
  }
  .merch-6{
    background-color: #9950B8;
    grid-area: merch-6;
    padding-top: 50em;
    .container-text-merch{
      position: relative;
      .image-merch { 
        @include imageMerch(1,block,.5s ease,hidden,.3);
      }
      .middle-merch {
        @include middleMerch(.5s ease,0,absolute,50%,50%,(translate(-50%, -50%)),(translate(-50%, -50%)),center,1)
      }
      .text-merch { 
        @include textMerch(pre-wrap,$mainColor,absolute,hidden,50%,50%,translate(-50%, -50%),translate(-50%, -50%),1.2rem,$mainFont,uppercase,400rem);
      }
    }
  }

  .button-merch{
    grid-area: button-merch;
    @include button(0%,0);
  }


  .zoom{
    transition: transform 0.2s; 
    &:hover{
      transform: scale(1.1);
    }
  }
}

/*__________ Discografia*_____________*/

.discs{

  display:grid;
  grid-template-rows: 10rem 30rem 30rem 50rem;
  grid-gap: 5%;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-areas: 
  "h1-d h1-d h1-d"
  "disc-1 disc-2 disc-3"
  "disc-4 disc-5 disc-6"
  "disc-7 disc-8 ."
  ;



.card {
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,1);
  
  .image-merch { 
    @include imageMerch(1,block,.5s ease,hidden,1);
  }
  .middle-merch {
        @include middleMerch(.5s ease,0,absolute,50%,50%,(translate(-50%, -50%)),(translate(-50%, -50%)),center,2)
      }
  .text-merch { 
        @include textMerch(pre-wrap,$mainColor,absolute,0,50%,50%,translate(-50%, -50%),translate(-50%, -50%),2rem,$mainFont,uppercase,$textBold);
        font-weight: $textBold;
      }
    img{
      max-width: 300px;
      min-width: 299px;
      height: 300px;
     }
    .zoom{
      transition: transform 0.5as; 
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

.h1-d{
   grid-area:h1-d;
}
.disc-1{
   grid-area:disc-1;
}
.disc-2{
   grid-area:disc-2;
}

.disc-3{
   grid-area:disc-3;
}
.disc-4{
   grid-area:disc-4;
}

.disc-5{
   grid-area:disc-5;
}

.disc-6{
   grid-area:disc-6;
}

.disc-7{
   grid-area:disc-7;
}

.disc-8{
   grid-area:disc-8;
}

/*______________________- Footer -______________________*/

.footerg{
 @include orgSection (7em,0,7em,0,$mainFont,1.1rem,$textLight,0,0,space-around,center, rgb(0,0,0));
}


.pie-img{
  width: 17.25em;
  height: 9.06em;
 }

 .pie-socialmedia a img{
  justify-items: space-evenly;
  width: 4em;
  height: 4em; 
  background-color: $secondaryColor;
 }

