//fonts
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Work Sans', sans-serif;
//fontweight
$textRegular: 400rem;
$textLight: 300rem;
$textBold: 700rem;
