//mixins//
//Mix merchs
@mixin mediamerch ($wmerch, $bg-colormerch) {
	width: $wmerch;
	background-color: $bg-colormerch;
}
//Mix section position
@mixin sectionpos ($font-size,$pt,$ps,$pe){
	font-size: $font-size;
	padding-top: $pt;
	padding-left: $ps;
	padding-right: $pe;
}
//Mix para sizing
@mixin sizing ($w,$h){
	width: $w;
	height: $h;
}
//Mix area merch
@mixin merchArea($g-area,$d-flex,$just-c,$align-c,$just-i,$align-i,$w){
	grid-area:$g-area;
	display:$d-flex;
	justify-content:$just-c;
	align-content:$align-c;
	justify-items:$just-i;
	align-items:$align-i;
	width:$w;
}
//Mix image merch
@mixin imageMerch($op,$d-block,$transition,$back-vi,$op1){
	opacity:$op;
	display:$d-block;
	transition:$transition;
	backface-visibility:$back-vi;
	&:hover{
		opacity: $op1;
	}
}
//Mix middle merch
@mixin middleMerch($transition,$op,$position,$top,$left,$transf,$mstransf,$text-a,$op1){
	transition: $transition;
	opacity: $op;
	position: $position;
	top: $top;
	left: $left;
	transform: $transf;
	-ms-transform: $mstransf;
	text-align: $text-a;
	&:hover{
		opacity: $op1;	
	}
}
//Mix texto merch
@mixin textMerch($white-space,$color,$position,$overf,$top,$left,$transf,$mstransf,$font-size,$font-fam,$text-transf,$font-weight) { 
	white-space: $white-space;
	color: $color;
	position: $position;
	overflow: $overf;
	top: $top;
	left: $left;
	transform: $transf;
	-ms-transform: $mstransf;
	font-size: $font-size;
	font-family: $font-fam;
	text-transform: $text-transf;
	font-weight: $font-weight;
}
//Mix Button Merch y Tour
@mixin button($ps,$pt){
	padding-left: $ps;
	padding-top: $pt;
	justify-content: center;
	align-content: center;
	a{
		padding-bottom: 10rem;
		background: none;
		border: 2px solid $secondaryColor;
		border-radius: 3rem;
		color: white;
		padding: 1rem 2.5rem;
		font-size: 1.8rem;
		font-family: $mainFont;
		box-shadow: 0px 0px 10px 0px $secondaryColor;
		cursor: pointer;
		font-weight: $textBold;
		line-height: 2.2rem;
		&:hover{
			box-shadow: none;
			background-color: rgb(0,0,0);
			color: $mainColor;
			transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
		}
	}
}
//Mix para centrar textos, imagenes, etc cc padding 15%
@mixin ajustCenter($pt,$pb,$j-c){
	display: flex;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: $pt;
	padding-bottom: $pb;
	justify-content: $j-c;
	align-content: center;
	align-items: center;
	
}
@mixin orgSection ($pt,$pe,$pb,$ps,$f-f,$f-s,$f-w,$l-w,$t-a,$j-c,$a-i,$bg-color){
	padding-top:$pt ;
	padding-bottom:$pb ;
	padding-right:$pe ;
	padding-left:$ps ;
	font-family: $f-f;
	font-size: $f-s;
	font-weight: $f-w;
	line-height: $l-w;
	text-align: $t-a;
	justify-content: $j-c;
	align-items: $a-i;
	background-color: $bg-color;
}
@mixin gridArea($gridArea){
	grid-area:$gridArea;
}
//Mix para pages
@mixin gridPage($url,$h,$g-temp-cols,$g-temp-rows,$g-areas){
	display: grid;
	justify-items: center;
	align-content: space-evenly;
	width: 100%;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $url;
	background-size: cover;
	height: $h;
	grid-template-columns:repeat $g-temp-cols;
	grid-template-rows: $g-temp-rows;
	grid-template-areas:$g-areas;
}
//mix discos
@mixin discPage($g-area, $f-s, $min-w, $max-w, $m){
	grid-area:$g-area;
	cursor:pointer;
	.text-merch{
		font-size: $f-s;
		font-style: $mainFont;
		font-weight: $textBold;
		text-transform: uppercase;
		text-align: center;
	}
	img{
		min-width:$min-w;
		max-width:$max-w;
		margin:$m;
	}		   
}
//Mix media
@mixin smartphone { 
	@media (max-width: 576px){
		@content;
	}
}
@mixin tablet { 
	@media (min-width: 576px) and (max-width:768px){
		@content; 
	}
}
@mixin desktop-sm { 
	@media (min-width: 768px) and (max-width:992px){
		@content; 
	}
}
